<!DOCTYPE html>
<html>
<head>
  <title>MusicCollabz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body <%= " id=#{@body_id}" if @body_id %>>
	<%= render 'layouts/header' %>
	<div class="container-fluid content">
		<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
		<div class="row-fluid" style="height:100%;">
			<%= yield %>
		</div>
	</div>
	<%= yield :scripts %>
</body>
</html>
