<!DOCTYPE html>
<html>
<head>
  <title>Parkit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body <%= " id=#{@body_id}" if @body_id %> >
	<div id="loadingDiv"></div>
	<div id="wrap">
		<%= render 'layouts/header' %>
		<div class="container-fluid content">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
			<div class="row-fluid" style="height:100%;">
				<%= yield %>
			</div>
		</div>
		<div id="push"></div> 
	</div><!-- Close Wrap -->
	<div id="footer">
	  <div class="container-fluid">
	    <p class="footer-links"><%= link_to "About", about_path %></p>
	  </div>
	</div> 
	<%= yield :scripts %>
	<script>
		// $("body").on({
	 //    ajaxStart: function() { 
	 //        $(this).addClass("loading"); 
	 //    },
	 //    ajaxStop: function() { 
	 //        $(this).removeClass("loading"); 
	 //    }    
		// });
	</script>
</body>
</html>
